<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
    <header>
        <h1>Categories</h1>
        <p>Select a category to explore the media archive.</p>
    </header>
    <main>
        <ul>
            <li><a href="#">Nature</a></li>
            <li><a href="#">Urban</a></li>
            <li><a href="#">Abstract</a></li>
        </ul>
    </main>
</body>
</html>
