<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
    <header>
        <h1><%= title %> Images</h1>
    </header>
    <main>
        <ul>
            <% images.forEach(image => { %>
                <li>
                    <img src="/uploads/<%= image.fileName %>" alt="<%= image.category %>">
                </li>
            <% }) %>
        </ul>
    </main>
</body>
</html>
