<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
    <header>
        <h1>Welcome to Funkit</h1>
        <p>Your ultimate media archive, categorized for ease.</p>
    </header>
    <main>
        <a href="/categories">Browse Categories</a>
    </main>
</body>
</html>
